
.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .80)), url(../img/buffalo_bayou.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 18rem;
    
    display: grid;
    grid-template-rows: 1fr min-content 9rem 1fr;
    grid-template-columns: max-content; // doesnt make a line break
    grid-gap: 1.5rem;
    justify-content: center;
    
    &__btn {
        align-self: start; // to fix the button from streching
        justify-self: start;
    }
    
    .slide {
        opacity: 0;
    }
}




///////////////////////////////////////////////////////////////////////

.badges {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    text-align: center;
    
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;
    
    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
    }
    
    &__img { 
        width: 12rem;
        display: block;
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1);
            
        }
    }
    
    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
    
    .logo {
        height: 15rem;// height of Logo
        justify-self: center; //  to center the logo
    }
    
    .bd {
        opacity: 0;
    }
    
}


//  VISION  ///////////////////////////////////////////////////////////////

.vision {
    
    &__pictures {
        background-color: $color-primary;
        grid-column: col-start 5 / full-end;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    &__img-1 {
        width: 100%; // Always set to 100% so it can stay flexable
        grid-row: 1 / 7;
        grid-column: 1 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1);
            z-index: 11;
        }
    }

    &__img-2 {
        width: 115%;
        grid-row: 4 / 8;
        grid-column: 3 / 6;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    
    &__content {
        background-color: $color-grey-light-1;
        grid-column: full-start / col-start 5;

        padding: 6rem 8vw;

        display: grid;
        align-content: center;
        justify-items: start;

    }

    &__text {
        font-size: 2rem;
        font-style: italic;
    }

}


//  FEATURES  //////////////////////////////////////////////////////////

.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start; // make to text start at the top
}

.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}


//  STORY  ///////////////////////////////////////////////////////////////

.story {

    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/photo-back-1.jpeg);

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    &__img-1 {
        width: 100%; // Always set to 100% so it can stay flexable
        grid-row: 1 / 7;
        grid-column: 2 / 7;
        box-shadow: 0 2rem 5rem rgba(#000, .1);
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1);
            z-index: 11;
        }
    }

    &__img-2 {
        width: 115%;
        grid-row: 4 / 6;
        grid-column: 4 / 7;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1);
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;

        // added flexbox
        //        display: flex;
        //        flex-direction: column;
        //        justify-content: center;
        //        align-items: flex-start;

        display: grid;
        align-content: center;
        justify-items: start;

    }

    &__text {
        font-size: 2rem;
        font-style: italic;
        
        li {
            padding-bottom: .4rem;
        }
    }

}



///////////////////////////////////////////////////////////////////////

.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr); // grid layout
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;  // adds the gap to the top
    
    &__item {
        
        cursor: pointer;
        
        &--1 {
            grid-row: 1 / span 5;
            grid-column: 1 / span 4;
        }
        
        &--2 {
            grid-row: 1 / span 4;
            grid-column: 5 /  span 2;
        }
        
        &--3 {
            grid-row: 1 / span 4;
            grid-column: 7 /  span 2;
        }
        
        &--4 {
            grid-row: 6 / span 2;
            grid-column: 1 / span 2;
        }
        
        &--5 {
            grid-row: 6 / span 2;
            grid-column: 3 / span 2;
        }
        
        &--6 {
            grid-row: 5 / span 3;
            grid-column: 5 / span 4;
        }
        
        
    }
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover; // only works with width and height
        display: block;
        transition: all .2s;
        
        &:hover {
            transform: scale(.97);
        }
    }
}




///////////////////////////////////////////////////////////////////////

.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    
    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-display;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
        
    }
    
    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-.4rem);
    } 
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto; // to center the copyright text
    margin-left: auto; // to center the copyright text
    text-align: center;
    width: 70%;
}








